
<div> 
    class="contact"
    <h1> hello world</h1>
    <p> </p>
    </div>

        <h1>
            genic tech
        </h1>
    
        <p> new coaching class</p>
        <button> set start </button>
        <p> help line </p>
        <p> hello world <p>

        <table>
            <tr>
                <th> name </th>
                <th> contact</th>
                <th> id number  </th>
                <th>  place </th>
            </tr>

            <tr>
                <td> surya </td>
                <td> 12345</td>
                <td> id : 217</td>
                <td> amalapuram</td>
            </tr>
            <tr>
                <td> sai</td>
                <td> 56789</td>
                <td> id :204</td>
                <td> rvp </td>
            </tr>
            <tr>
                <td> veeru</td>
                <td> 345678</td>
                <td> id: 222</td>
                <td>  hyb</td>
        
            </tr>
        
            <img src="../assets/img.png"alt="Desktop/Project_Genic/first-angular-project/scr/assets "/>

            

        </table>
    
            <form>
                <label > First name:</label><br>
                <input type="search" placeholder="name"><br>
                <label > sec name:</label><br>
                <input type=" text"><br>

                <input type="radio">
                <label > html</label><br>
                
                <input type="checkbox">
                <label> css</label><br>

                <label> password</label>
                <input type="password"><br>


               <select> 
                <option> location </option>
                <option> amp</option>
                <option> hyb</option>

        
            
            
            </select>

                <button> start</button>


              </form>
<table>
<tr>
    <th> school name  </th>
    <th> no  of students</th>
    <th> no  of class </th>
    <th> no  of teacher</th>
     
</tr>
<tr>
    <td> s v r </td>
    <td> 840   </td>
    <td> 10    </td> 
    <td> 35    </td>

</tr>

</table>

<img src="../assets/download.jpeg"alt="Desktop/Project_Genic/first-angular-project/scr/assets">

<form methed="post" action="output">
    <label> use name</label><br>
    <input type="text"><br>

    <label> password</label><br>
    <input type="password"><br>

    html<input type="radio"name="course" id="sample">
    css<input type="radio"name="course" id="opction">

    js<input type="radio"name="course" id="select">

    <button type="submit"> submit</button>
</form>

<select multiple id="fruits" name="fruits" >

    <option value="apple"> Apple</option>
    <option value="orange">Orange</option>


</select>
<textarea class="sample"id="project">

    
</textarea>

